[Unit]
Description=vLLM Benchmark Load Generator
After=vllm-server.service

[Container]
Image=quay.io/redhat-et/vllm-server:v1.0.202603181222
Volume=model-storage.volume:/models:ro,z
Network=mlops.network
Exec=sh -c "sleep 30 && vllm bench serve --base-url http://vllm-server:8000 --model Llama-3.2-1B-Instruct --tokenizer /models --request-rate 5.0 --num-prompts 500"

[Service]
Type=oneshot

[Install]
WantedBy=multi-user.target default.target
