apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - operatorgroup.yaml
  - subscription.yaml

commonLabels:
  app.kubernetes.io/part-of: mlops-edge
  app.kubernetes.io/component: openshift-ai
  scenario: scenario-02-device-edge

